*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --Purple-500: hsl(259, 100%, 65%);
  --Purple-600: hsl(259, 50%, 54%);
  --Red-400: hsl(0, 100%, 67%);

  --White: hsl(0, 100%, 100%);
  --Grey-100: hsl(0, 0%, 94%);
  --Grey-200: hsl(0, 0%, 86%);
  --Grey-500: hsl(0, 1%, 44%);
  --Black: hsl(0, 0%, 0%);

  --poppins: 'Poppins', sans-serif;
  --text-sm: italic 1.1rem/120% var(--poppins);
  --text: 1.2rem/120% var(--poppins);
  --text-ft: bold 1.6rem/120% var(--poppins);
  --text-lg: bold italic 4rem/120% var(--poppins);
}