body {
  display: grid;
  align-items: center;
  height: 100vh;
  background-color: var(--Grey-100);
  border: 1px solid red;
}

#age-calculator {
  display: grid;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  /* width: 100%; */
  /* height: 100vh; */
  margin: 0 auto;
  padding: 2.5rem;
  background-color: var(--White);
  /* border: 1px solid blue; */
  border-radius: 2rem;
  border-bottom-right-radius: 10rem;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.date-inputs {
  display: flex;
  gap: 2rem;
}

.date-input {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.date-input__label {
  font: var(--text);
  color: var(--Grey-500);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.date-input__field {
  width: 70px;
  padding: 1rem;
  font: var(--text-ft);
  color: var(--Black);
  border-radius: 0.5rem;
  border: 1px solid var(--Grey-200);
}

.date-input__field::placeholder {
  color: var(--Black);
}

.calculate-divider__line {
  border-color: var(--Grey-100);
}

.calculate-divider__button {
  position: absolute;
  top: 228px;
  left: 330px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Purple-500);
  border: none;
  cursor: pointer;
}
.calculate-divider__button:hover {
  background-color: var(--Purple-600);
}

.calculate-divider img {
  width: 20px;
  border-radius: 50%;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font: var(--text-lg);
}

.results-item {
  display: flex;
  align-items: center;
}

.results__value {
  color: var(--Purple-500);
}