body {
  display: grid;
  align-items: center;
  height: 100vh;
  background-color: var(--Grey-100);
}

#age-calculator {
  display: grid;
  /* gap: 5rem; */
  justify-content: center;
  align-items: center;
  max-width: 375px;
  /* width: 100%; */
  /* height: 100vh; */
  margin: 0 auto;
  padding: 3rem 2.5rem;
  background-color: var(--White);
  /* border: 1px solid blue; */
  border-radius: 2rem;
  border-bottom-right-radius: 10rem;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.date-inputs {
  display: flex;
  gap: 2rem;
}

.date-input {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.date-input__label {
  font: var(--text);
  color: var(--Grey-500);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.date-input__field {
  width: 70px;
  padding: 1rem;
  font: var(--text-ft);
  color: var(--Black);
  border-radius: 0.5rem;
  border: 1px solid var(--Grey-200);
}

.date-input__field::placeholder {
  color: var(--Black);
}

.calculate-divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 5rem;
}

.calculate-divider__line {
  border-color: var(--Grey-100);
}

.calculate-divider__button {
  position: relative;
  /* top: 228px; */
  top: -25px;
  /* left: 330px; */
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Purple-500);
  border: none;
  cursor: pointer;
}
.calculate-divider__button:hover {
  background-color: var(--Black);
}

.calculate-divider img {
  width: 20px;
  border-radius: 50%;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: -5rem;
  font: var(--text-lg);
}

.results-item {
  display: flex;
  align-items: center;
}

.results__value {
  color: var(--Purple-500);
}

@media (min-width: 769px) {
  #age-calculator {
    width: 769px;
    max-width: 1024px;
    padding: 4rem 5rem;
  }

  /* .date-inputs {
    display: flex;    
  } */

  .date-input__label {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
  }

  .date-input__field {
    width: 140px;
    padding: 2rem;
    border-radius: 0.7rem;
    font-size: clamp(1.6rem, 2vw, 2rem);
    cursor: pointer;
  }

  .date-input__field:focus-visible {
    border-color: var(--Purple-500);
    outline: 1px solid var(--Purple-500);
  }

  .calculate-divider {
    display: flex;
    align-items: center;
  }

  .calculate-divider__line {
    /* max-width: 90%; */
    width: 669px;
    margin-top: 2rem;
  }

  .calculate-divider__button {
    /* right: 25px; */
    align-self: flex-end;
    top: -40px;
    width: 80px;
    height: 80px;
  }

  .calculate-divider img {
    width: 30px;
  }

  .results {
    font-size: clamp(4rem, 10vw, 8rem);
  }

  .results__item {
    display: flex;
    gap: 2rem;
  }
}